.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.container-fluid {
  display: flex;
  flex-direction: row;
}
.form-control {
  width: 50%;
  margin-right: -60px;
}

#datalistOptions {
  position: relative;
  /* display: inline-block; */
}

.container1 {
  height: 100%;
  text-align: center;
  background-image: url("/public/weather.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 17%;
  padding-top: 25px;
}

.date {
  color: darkred;
}

.icon {
  width: 12%;
  height: 12%;
  margin-top: -8px;
}
